<template>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline is-mobile is-centered">
        <div class="column is-12-mobile is-12-tablet is-12-desktop">
          <GameMenuLabel />
        </div>
        <div
          class="column is-4-mobile is-4-tablet is-2-desktop"
          v-for="(currentImage, index) in currentGameImages"
          :key="index"
        >
          <GameCard
            :imageName="currentImage.imageName"
            :id="currentImage.imageId"
            :index="index"
            :hidden="currentImage.hidden"
            ref="card"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import GameMenuLabel from "../components/GameMenuLabel";
import GameCard from "../components/GameCard";

export default {
  name: "Game",
  components: {
    GameMenuLabel,
    GameCard,
  },
  data() {
    return {
      //Array
      //Contains the names of images used during the game
      imageNames: [
        "vue",
        "angular",
        "d3",
        "jenkins",
        "postcss",
        "react",
        "redux",
        "sass",
        "splendex",
        "ts",
        "webpack",
      ],
      //Array
      //The current cards of the game in a randomized order
      //Used in GameCard.vue
      currentGameImages: [],
      //Number
      //The number of the pairs there will be next game
      newGameDeckSize: 10,
      //Number
      //It contains the uniq type id of the image that was turned over as first card in the round
      turnedCardId: -1,
      //Number
      //It contains the index of the card that was turned over as first card this round
      turnedCardIndex: -1,
      //Boolean
      //It contains the value of the variable that is used for preventing the user of turning more than two card simultaniusly
      canClick: true,
      //Number
      //It contains the number of the steps made so far this game
      currentSteps: 0,
      //Number
      //It contains the amount of pairs left to find in the game
      pairsLeft: 10,
    };
  },
  mounted() {
    if (localStorage.getItem("cardGameSavedStatus") != null) {
      this.currentGameImages = JSON.parse(
        localStorage.getItem("cardGameSavedStatus")
      );
    }
  },
  methods: {
    //Parameter: id -> id of the type of image that was clicked
    //Paramter: index -> index of the card that was clicked
    //Result: The function check the possible varitions of a click
    //1. This is the first card clicked this round -> The variables turnedCardId and turnedCardIndex are set
    //2. Checks the id of the second card clicked matches the id of the first card clicked this round
    cardClicked: function (id, index) {
      if (this.turnedCardId == -1) {
        this.turnedCardId = id;
        this.turnedCardIndex = index;
      } else {
        if (this.turnedCardIndex != index) {
          this.checkCardsForMatch(id, index);
          if (this.pairsLeft == 0) {
            this.lauchToasterForWin();
          }
          this.currentSteps++;
        }
      }
    },

    //Parameter: newSize -> It stes the size of the game that will load after pressing start new game button
    setNewGameDeckSize: function (newSize) {
      this.newGameDeckSize = newSize;
    },
    //Init function of a new game
    //Varialbes are set to default
    //Cards are randomized
    //Result: currentGameImages array will have all the images for the next round in a randomized order
    startNewGame: function () {
      this.currentSteps = 0;
      this.round = 0;
      this.pairsLeft = this.newGameDeckSize;
      this.canClick = true;
      localStorage.setItem("cardGameSavedStatus", "");
      if (this.$refs["card"] != undefined) {
        for (let i = 0; i < this.$refs["card"].length; i++) {
          this.$refs["card"][i].$data.isSelected = false;
          this.$refs["card"][i].$data.hide = false;
        }
      }

      setTimeout(() => {
        this.currentGameImages = [];
        let tmpCurrentImages = [];

        for (let i = 0; i < this.newGameDeckSize; i++) {
          tmpCurrentImages.push({
            imageId: i,
            imageName: this.imageNames[i],
            hidden: false,
          });

          tmpCurrentImages.push({
            imageId: i,
            imageName: this.imageNames[i],
            hidden: false,
          });
        }

        while (tmpCurrentImages.length > 0) {
          let randomNumber = Math.floor(
            Math.random() * tmpCurrentImages.length
          );
          this.currentGameImages.push(tmpCurrentImages[randomNumber]);
          tmpCurrentImages.splice(randomNumber, 1);
        }
      }, 800);
    },

    //Functin that will trigger an alert when all pairs are found
    lauchToasterForWin() {
      setTimeout(() => {
        alert("You won!");
      }, 600);
    },

    //Parameter: id of the second card clicked in a round
    //Parameter: index of the second card clicked in a round
    //Result: If its a match, the selected cards are goind to disappear, else the cards will turn back
    checkCardsForMatch: function (id, index) {
      if (this.turnedCardId == id) {
        this.canClick = false;
        this.pairsLeft--;
        setTimeout(() => {
          this.$refs["card"][index].$data.hide = true;
          this.$refs["card"][this.turnedCardIndex].$data.hide = true;
          this.currentGameImages[index].hidden = true;
          this.currentGameImages[this.turnedCardIndex].hidden = true;
          localStorage.setItem(
            "cardGameSavedStatus",
            JSON.stringify(this.currentGameImages)
          );
          this.turnedCardId = -1;
          this.turnedCardIndex = -1;
          this.canClick = true;
        }, 800);
      } else {
        this.canClick = false;
        setTimeout(() => {
          this.$refs["card"][index].$data.isSelected = false;
          this.$refs["card"][this.turnedCardIndex].$data.isSelected = false;
          this.turnedCardId = -1;
          this.turnedCardIndex = -1;
          this.canClick = true;
        }, 800);
      }
      return;
    },
  },
};
</script>

<style lang="scss">
</style>