<template>
  <section class="section">
    <div class="container">
      <div class="home">
        <p class="page-title">Memory game by Wágner Róbert</p>
        <div class="rules-text margin-top-30">
          <p v-for="rule in rules" :key="rule">{{ rule }}</p>
        </div>
        <b-button
          v-on:click="goToPage('Game')"
          class="margin-top-30"
          type="is-primary"
          >Go to the game</b-button
        >
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      //Array
      //Contains the rules for the game
      rules: [
        "At the beginning all cards are “face down”.",
        "You can pick a card to reveal it.",
        "Once you picked two card their are either a match or missmatch.",
        "In the case of a match, the cards will disappear and you can pick again.",
        "If two cards that you turned up have different image, they will turn back and your partner can pick.",
        "The goal is to find the pair of each image.",
      ],
    };
  },
  methods: {
    //Parameter: name String
    //Function with parameter name, vue router will find the correct component based on this given property
    goToPage: function (name) {
      this.$router.push(name);
    },
  },
};
</script>

<style lang="scss">
.rules-text {
  font-size: 20px;
  text-align: start;
  padding-left: 10%;
  padding-right: 10%;
}

.margin-top-30 {
  margin-top: 30px;
}
</style>
