<template>
  <div id="game-menu-label">
    <div class="columns is-centered is-multiline is-mobile">
      <div class="column is-12-mobile is-4-tablet is-4-desktop">
        <b-dropdown aria-role="list">
          <button class="button is-primary" type="button" slot="trigger">
            <template>
              <span>{{ deckSizeLabel }}</span>
            </template>
          </button>

          <b-dropdown-item
            aria-role="listitem"
            v-for="index in 8"
            :key="index"
            v-on:click="deckSizeSelected(index + 2)"
          >
            <p>{{ index + 2 }}</p>
          </b-dropdown-item>
        </b-dropdown>
      </div>
      <div class="column is-12-mobile is-4-tablet is-4-desktop">
        <p>Steps:</p>
        <b-tag type="is-success">{{ $parent.currentSteps }}</b-tag>
      </div>
      <div class="column is-12-mobile is-4-tablet is-4-desktop">
        <b-button type="is-info" v-on:click="$parent.startNewGame"
          >Start new game</b-button
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      //String
      //Label string contains the information for the user about the pairs in the next game
      deckSizeLabel: "Deck size: 10",
      //Number
      //It contains the number of the pairs next game played
      deckSize: 10,
    };
  },
  methods: {
    //Parameter i -> its the number of the pairs next game will appear on the field
    deckSizeSelected: function (i) {
      this.deckSize = i;
      this.deckSizeLabel = "Deck size: " + this.deckSize;
      this.$parent.setNewGameDeckSize(this.deckSize);
    },
  },
};
</script>

<style lang="scss">
#game-menu-label {
  width: 100%;
  background-color: #e2e2e2;
}
</style>