<template>
  <div
    class="game-card"
    v-bind:class="{ active: isSelected, 'game-card-hide': hide }"
    v-on:click="selectCardToTurn"
  >
    <div class="game-card-content">
      <div class="game-card-front">
        <p>{{ $parent.testProp }}</p>
      </div>
      <div class="game-card-back">
        <img :src="loadImage(imageName)" alt="game card" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  //Property inherited from the parent component
  props: {
    //String
    //It contains the name of the image hidden on a card
    imageName: String,
    //Number
    //It contains the id of the type of the image
    id: Number,
    //Number
    //It contains the index of the image in the currentGameImages array
    index: Number,
    //Boolean
    //If it is a saved game set hide variable
    hidden: Boolean
  },
  data() {
    return {
      //Boolean
      //It triggers the flipping of a card. Is the value true the image will be shown
      isSelected: false,
      //Boolean
      //It triggers the hiding of a card. If a user found a match, both cards will be hidden
      hide: false,
    };
  },
  mounted() {
      this.hide = this.hidden;
  },

  methods: {
    //Parameter img cointans the name of the image that should be behind a card
    //Return: returns the path of the image
    loadImage: function (img) {
      return require("../assets/images/" + img + ".png");
    },
    //Result: A card is turned and the cardClicked class is triggered from the parent
    selectCardToTurn: function () {
      if (this.$parent.canClick) {
        this.isSelected = !this.isSelected;
        this.$parent.cardClicked(this.id, this.index);
      }
    },
  },
};
</script>

<style lang="scss">
.game-card {
  width: 200px;
  height: 200px;
  background-color: transparent;
  perspective: 1000px;
}

.game-card-hide {
  display: none;
}

.game-card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;

  transition: transform 0.8s;
  -webkit-transition: transform 0.8s;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.active .game-card-content {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.game-card-front,
.game-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.game-card-front {
  background-color: #bbb;
}

.game-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}


@media (max-width: 1430px) {
  .game-card {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 768px) {
  .game-card {
    width: 110px;
    height: 110px;
  }
}


@media (max-width: 480px) {
  .game-card {
    width: 90px;
    height: 90px;
  }
}
</style>